Package: com.nyathea.twtlegacypatcher
Name: TwitterLegacyPatcher
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: thea
Author: thea
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
