Package: com.nyathea.legacybird
Name: LegacyBird
Version: 0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: nyathea
Author: nyathea
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Conflicts: com.nyathea.twtlegacypatcher
